@tailwind base;
@tailwind components;
@tailwind utilities;


/*테이블스타일*/
thead th, thead td{
    padding: 16px 20px;
    background: #f5f5f5;
}
thead tr:first-child th:first-child{
    border-top-left-radius: 10px;
}
thead tr:first-child th:last-child{
    border-top-right-radius: 10px;
}
thead tr:last-child{
    border-bottom: 2px solid #d0d0d0;
}
tbody th, tbody td {
    padding: 8px 20px;
    text-align: center;
}
tr {
    border-bottom: 1px solid #d0d0d0;
    height: 48px;
}
tr th, tr td {
    border-right: 1px solid #d0d0d0;
}
td:last-child, th:last-child{
    border-right: 0;
}

/*날짜테마*/
.react-datepicker__input-container > input {
    border: 0;
    font-size: large;
    font-weight: 500;
    width: 160px;
    cursor: pointer;
    background: none;
}
.react-datepicker__input-container > input[readonly] {
    pointer-events: visible;
}
.react-datepicker__input-container > input:focus {
    outline: none;
}
.react-datepicker-popper .react-datepicker{
    font-family: Pretendard;
    border: 0;
    box-shadow: 0 3px 7px 1px rgb(0 0 0 / 0.1);
    border-radius: 12px;
    width: 180px;

    .react-datepicker__header{
        background: none;
        border: 0;
        padding: 14px;
        color: var(--color-main);
        font-size: medium;
    }
    .react-datepicker__navigation{
        top: 9px;
    }
    .react-datepicker__month .react-datepicker__month-text{
        width: 40px;
        padding: 12px 4px;
        margin: 2px 7px;
        border-radius: 100px;
    }
    .react-datepicker__month-text:hover, .react-datepicker__month-text--keyboard-selected:hover{
        background: var(--color-main-lighter);
    }
    .react-datepicker__month-text--keyboard-selected{
        background: var(--color-main-lighter);
        font-weight: bold;
    }
    .react-datepicker__month-text--today{
        font-weight: normal;
        background: #eeeeee;
    }
}

@layer components {
    @-webkit-keyframes flip-to-square {
        0% {
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
        }
        50%,
        75% {
            -webkit-transform: rotateX(0);
            transform: rotateX(0);
        }
        100% {
            opacity: 0;
            -webkit-transform: rotateX(0);
            transform: rotateX(0);
        }
    }
    @keyframes flip-to-square {
        0% {
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
        }
        50%,
        75% {
            -webkit-transform: rotateX(0);
            transform: rotateX(0);
        }
        100% {
            opacity: 0;
            -webkit-transform: rotateX(0);
            transform: rotateX(0);
        }
    }

    .flip-to-square {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 70px;
        width: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .flip-to-square div {
        -webkit-animation: flip-to-square 2.5s calc(var(--delay) * 2s) infinite backwards;
        animation: flip-to-square 2.5s calc(var(--delay) * 2s) infinite backwards;
        background-color: var(--color-main);
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.41);
    }

    .flip-to-square div:nth-child(1) {
        --delay: 0.01;
    }

    .flip-to-square div:nth-child(2) {
        --delay: 0.02;
    }

    .flip-to-square div:nth-child(3) {
        --delay: 0.03;
    }

    .flip-to-square div:nth-child(4) {
        --delay: 0.04;
    }

    .flip-to-square div:nth-child(5) {
        --delay: 0.05;
    }

    .flip-to-square div:nth-child(6) {
        --delay: 0.06;
    }

    .flip-to-square div:nth-child(7) {
        --delay: 0.07;
    }

    .flip-to-square div:nth-child(8) {
        --delay: 0.8;
    }

    .flip-to-square div:nth-child(9) {
        --delay: 0.9;
    }
}

/*반응형 CSS*/
@media (max-width: 1800px) {
}
@media (max-width: 1300px) {
}
@media (max-width: 700px) {
}
